.container {
    width: 200px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid rgb(218, 232, 26);
    border-radius: 8px;
}
.containerDone {
    width: 200px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(36, 68, 228);
    border-radius: 8px;
}
.trash-icon {
    margin-top: 3px;;
    width: 15px;
    height: 20px;
    cursor: pointer;
}
.delete-button{
    cursor: pointer;
    background-color: rgb(116, 249, 246);
    border: 2px solid rgb(239, 14, 14);
    border-radius:6px;
}
